#signUpModalDiv {
    width: 400px;
}

.signUpLabel {
    background-color: red;
    width: 94%;
}

#signupModalSignupButton {
    cursor: pointer;
}

#signupModalSignupButton:hover {
    background-color: green;
    border: 3px solid green !important;
}

#signupModalSignupButton:active {
    border: 3px solid green !important;
}
