#signUpModalDiv {
    width: 400px;
}

.signup-label-text {
    margin-left: 5px;
}

.signUpLabel {
    background-color: red;
    width: 94%;
}

#signupModalSignupButton {
    cursor: pointer;
}

#signupModalSignupButton:hover {
    background-color: green;
    border: 3px solid green !important;
}

#signupModalSignupButton:active {
    border: 3px solid green !important;
}

.error-message {
    color: red;
    font-size: 12px;
    margin-left: 5px;
}