.reviewDiv {
    border-top: 2px black solid;
    width: 75%;
    margin-top: 10px;
    margin-left: 15px;
    padding-left: 15px;
    padding: 20px 0;
}

#reviewStarsDiv {
    font-size: 20px;
}

#reviewDateDiv {
    color: grey;
    overflow-x: auto;
}

#reviewTextDiv {
    display: flex;
    justify-content: left;
    font-size: 20px;
    margin-bottom: 25px;
    margin-top: 15px;
    overflow-x: auto;
    text-overflow: ellipsis;
    /* flex-wrap: wrap; */
    /* width: 100%; */
}

.reviewModalButton button {
    display: flex;
    background-color: white;
    border: none;
    display: flex;
    font-size: 10pt;
    grid-gap: 8px;
    gap: 8px;
    align-items: center;
    color: white;
    background-color: black;
    border-radius: 50px;
    margin-top: 5px;
    border: 2px solid black;
    padding: 5px 10px;
}

#reviewHeader {
    margin-left: 20px;
}
